<!DOCTYPE html>
<html>
	<head>
        <title>Existing DPF</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="/javascripts/jquery.confirm-master/jquery.confirm.js"></script>
        <script src="/javascripts/jquery.cookie.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="http://jqueryvalidation.org/files/dist/jquery.validate.min.js"></script>
       
        <script type="text/javascript">

        $(document).ready(function() {
                          
                         $("#TableAll").toggle();
                          $("#nav").height($("#section").outerHeight());
                          
                          var a =confirm("loadCookie?");
                          if(a==true){
                          loadCookie();
                          }
                          
                          $(".confirm").confirm({
                                                text: "Are you sure you want to add this DPF?",
                                                title: "Confirmation required",
                                                confirm: function(button) {
                                                
                                                var a=$("#SerialNumber").val();
                                                if(a==""){
                                                $("#error").html("Please input the Serial Number!");
                                                $("#SerialNumber").attr("style", "border: 1px solid red");
                                                event.preventDefault();
                                                return;
                                                }
                                                if($("#PartNumber").val()==""){
                                                $("#error").html("Please input the Part Number!");
                                                $("#PartNumber").attr("style", "border: 1px solid red");
                                                event.preventDefault();
                                                return;
                                                }
                                                
                                                if($("#Manufacturer").val()==-1){
                                                $("#error").html("Please select a manufacturer!");
                                                event.preventDefault();
                                                $("#Manufacturer").attr("style", "border: 1px solid red");
                                                return;
                                                }
                                                if( $("#TypeOfSubstrate").val()==-1){
                                                 $("#error").html("Please select a Type of Substrate!");
                                                
                                                $("#TypeOfSubstrate").attr("style", "border: 1px solid red");
                                                event.preventDefault();
                                                return;
                                                }
                                                
                                            
                                                if($("#OuterDiameter").val()=="" || $("#OuterDiameter").val()==undefined){
                                                $("#error").html("Please fill in OuterDiameter");
                                                
                                                $("#OuterDiameter").attr("style", "border: 1px solid red");
                                                 event.preventDefault();
                                                return;
                                                }
                                                else{
                                                $("#OuterDiameter").attr("style", "border: 1px solid blue");
                                                }
                                                if($("#SubstrateDiameter").val()=="" ||$("#SubstrateDiameter").val()==undefined){
                                                 $("#error").html("Please fill in SubstrateDiameter");
                                                $("#SubstrateDiameter").attr("style", "border: 1px solid red");
                                                 event.preventDefault();
                                                return;
                                                }
                                                else{
                                                $("#SubstrateDiameter").attr("style", "border: 1px solid blue");

                                                }
                                                if($("#OuterLength").val()=="" || $("#OuterLength").val()==undefined){
                                                $("#error").html("Please fill in OuterLength");
                                                $("#OuterLength").attr("style", "border: 1px solid red");
                                                 event.preventDefault();
                                                return;
                                                }
                                                else{
                                                $("#OuterLength").attr("style", "border: 1px solid blue");
                                                }
                                                
                                                if($("#SubstrateLength").val()=="" ||$("#SubstrateLength").val()==undefined){
                                                $("#error").html("Please fill in SubstrateLength");
                                                $("#SubstrateLength").attr("style", "border: 1px solid red");
                                                 event.preventDefault();
                                                return;
                                                }
                                                else{
                                                $("#SubstrateLength").attr("style", "border: 1px solid blue");
                                                }
                                                
                                                storeCookie();
                                                $("#form_1").submit();
                                                
                                                
                                                },
                                                cancel: function(button) {
                                                // nothing to do
                                                },
                                                confirmButton: "Yes I am",
                                                cancelButton: "No",
                                                post: true,
                                                confirmButtonClass: "btn-danger",
                                                cancelButtonClass: "btn-default",
                                                dialogClass: "modal-dialog modal-lg" // Bootstrap classes for large modal
                                                });
                         
                          
                          
                          });
        function storeCookie(){
            $.cookie("SerialNumber", $("#SerialNumber").val(), { expires : 2 });
            $.cookie("PartNumber", $("#PartNumber").val(), { expires : 2 });
            $.cookie("OtherNumber", $("#OtherNumber").val(), { expires : 2 });
            $.cookie("Manufacturer", $("#Manufacturer").val(), { expires : 2 });
            $.cookie("DPForDOC", $("#DPForDOC").val(), { expires : 2 });
            $.cookie("TypeOfSubstrate", $("#TypeOfSubstrate").val(), { expires : 2 });
            $.cookie("OuterLength", $("#OuterLength").val(), { expires : 2 });
            $.cookie("OuterDiameter", $("#OuterDiameter").val(), { expires : 2 });
            $.cookie("SubstrateDiameter", $("#SubstrateDiameter").val(), { expires : 2 });
            $.cookie("SubstrateLength", $("#SubstrateLength").val(), { expires : 2 });
                          }
        function loadCookie(){
             $("#SerialNumber").val($.cookie("SerialNumber"));
              $("#PartNumber").val($.cookie("PartNumber"));
               $("#OtherNumber").val($.cookie("OtherNumber"));
                $("#Manufacturer").val($.cookie("Manufacturer"));
                 $("#DPForDOC").val($.cookie("DPForDOC"));
                  $("#TypeOfSubstrate").val($.cookie("TypeOfSubstrate"));
                   $("#OuterLength").val($.cookie("OuterLength"));
                    $("#SubstrateDiameter").val($.cookie("SubstrateDiameter"));
                     $("#OuterDiameter").val($.cookie("OuterDiameter"));
                     $("#SubstrateLength").val($.cookie("SubstrateLength"));
                     
        }
        </script>

        <title> <%= h1 %></title>
        
        <style>



       #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}


	#section {
		    width:900px;
		    float:left;
		    padding:10px;
            
            height: auto;
		}
        #section1{
            width:25%;
            float:left;
            padding:10px;
            text-align: right;
        }
        #section2{
            width:30%;
            float:left;
            padding:10px;
            text-align: left;
        }

		#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:auto;
            min-height: 600px;
            
		    width:150px;
		    float:left;
		    padding:2px;	      
		}

		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		   padding:5px;	 	 
		}


       #submit1{
            max-width: 100px;
            max-height: 100px;
            position:relative;
            top:20px;
            left:200px;
        }
        .input1 {
            text-align: left;
            width:200px;
            margin-bottom:10px;
        }
        #section3_4{
            width:40%;
            float:left;
            text-align:right;
            top:50%;
            position: relative;
            top:50px;
            
            
        }
        #section3{
            width:40%;
            float:left;
            text-align:right;
            padding:10px;
        }
        #section4{
            width:40%;
            float:left;
            text-align:left;
            padding:10px;
            
        }
        #section5{
            width:20%;
            float:left;
            text-align:left;
            padding:10px;
            
        }
        .label1{
            
            
        }

</style>

    </head>
    <body>
        
                <div id = "header">
                <h1><%=title%></h1>
                </div>


                <div  id="nav">
                <button onclick="{location.href='/userPage/inputSelection'}">Back To Home</button>
                <button onclick="{location.href='/signout'}">signout</button>
             </div>


                <div id="section">
                    
                    <p>
                    <% if(typeof(errorMessage) !== 'undefined') {%>
                    <span style="color:red" ><%= errorMessage %></span>
                    <% } %>
                    </p>
                    <p>
                    <span style="color:red" id ="error"></span>
                
                    </p>
                    <p>
                    <% if(typeof(username) !== 'undefined') {%>
                    <span style="color:green;display:none">Add a Job for ( <%= username %> ).</span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(CompanyID) !== 'undefined') {%>
                    <span style = "color:green" hidden>This is the DPF of Company:</span>
                    <span style="color:green " hidden id ="CompanyID"><%= CompanyID %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(ContactID) !== 'undefined') {%>
                    <span style="color:green ;display:none" id = "ContactID"><%= ContactID %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(VIN) !== 'undefined') {%>
                    <span style="color:green ;display:none" id = "VIN"><%= VIN %></span>
                    <% } %>
                    </p>
                <div id = "section1">
                                  <br><br>
                  
                    <span class="label1">Serial Number*:</span><span id="error01_temp" style="color:red;display:none;"></span><br><br><br>
                    
                   
                   
                     <span class="label1">Part Number*:</span><span id="error02_temp" style="color:red; display:none;"></span><br><br><br>
                     <span class="label1">Other Number:</span><br><br>
                     <span class="label1">Manufacturer*:</span><br><br>
                     <span class="label1">DPF or DOC:</span><br><br>
                     <span class="label1">Type Of Substrate*:</span><br><br>
                   
                   
                </div>
                
                <form id = "form_1" method="post" name="form1"  action="/addNewDPFAdmin?CompanyID=<%= CompanyID%>&ContactID=<%= ContactID%>&VIN=<%= VIN%>" >
              
                    <div id = "section2">
                    
                   
                    <br></br>
                       
                       
                    
                    
                    
                            <input type ="text"  class ="input1" required name="SerialNumber" id = "SerialNumber"/><span style="color:red" id="error01"></span><br><br>
                            <input type ="text"  class ="input1"required  name="PartNumber" id = "PartNumber"/><span style="color:red" id="error02"></span><br><br>
                            <input type ="text"  class ="input1" id = "OtherNumber"  name="OtherNumber"/><br><br>
                            <select  name = "Manufacturer"  id ="Manufacturer">
                                <option value ="-1"selectedvalue ="">Manufacturer...</option>
                                <option value="Caterpillar">Caterpillar</option>
                                <option value="Cleair">Cleair</option>
                                <option value="Cummins">Cummins</option>
                                <option value="DCL">DCL</option>
                                <option value="Detroit Diesel">Detroit Diesel</option>
                                
                                <option value="Donaldson">Donaldson</option>
                                
                                <option value="ECS">ECS</option>
                                <option value="Englehard">Englehard</option>
                                
                                <option value="Fleetguard/Nelson">Fleetguard/Nelson</option>
                                <option value="Hapco/Harco">Hapco/Harco </option>
                                <option value="International">International</option>
                                <option value="Isuzu"> Isuzu</option>
                                <option value="John Deere">John Deere</option>
                                <option value="Johnson Matthey">Johnson Matthey </option>
                                
                                <option value="Mercedes">Mercedes</option>
                                <option value="Nett">Nett </option>
                                <option value="Paccar">Paccar </option>
                                <option value="Perkins">Perkins</option>
                                <option value="PUrifilter">PUrifilter</option>
                                <option value="RoadWarrior"> RoadWarrior</option>
                                <option value="Takeuchi">Takeuchi</option>
                                <option value="UD">UD </option>
                                <option value="Volvo">Volvo</option>
                            
                                <option value="Other"> Other</option>
                            </select>
                            <br></br>
                            <select name ="DPForDOC" id="DPForDOC">
                                <option value="-1" selected value="">Type Of Filter...</option>
                                <option value="DPF">DPF</option>
                                <option value="DOC">DOC</option>
                                <option value="SCR">SCR</option>
                            </select>
                             <br><br>
                             <select name ="TypeOfSubstrate" id="TypeOfSubstrate">
                                 <option value="-1" selected >Type Of Substrate...</option>
                                 <option value="Cordierite (ceramic)">Cordierite (ceramic)</option>
                                 <option value="Silicon carbide">Silicon carbide</option>
                                 
                             </select><br><br>
                             <input type="image" style="" src ="../../public/images/addGreenCircle.jpeg"  class="confirm"  id = "submit1" >
                             
                          </div>
                    <div id = "section3_4">
                        Dimensions<br><br>
                        <div id="section3">
                            Outer Diameter:<br><br><br>
                            Substrate Diameter:<br><br>
                            Outer Length:<br><br>
                            Substrate Length:<br><br>
                            
                        </div>
                        <div id = "section4">
                            <input class ="input1" type ="text" id = "OuterDiameter" name="OuterDiameter" required pattern="^\d{1,3}*\.\d{1,2}$" placeholder="xxx.xx"/></span><br><br>
                                <input class ="input1" pattern="^\d{1,3}*\.\d{1,2}$"name="SubstrateDiameter"   required placeholder="xxx.xx"  type ="text"  id = "SubstrateDiameter"/></span><br><br>
                                    <input type ="text" pattern="^\d{1,3}*\.\d{1,2}$" name="OuterLength"  required placeholder="xxx.xx" class ="input1"  id = "OuterLength"/></span><br><br>
                                        <input type ="text" pattern="^\d{1,3}*\.\d{1,2}$"name="SubstrateLength"  required placeholder="xxx.xx" class ="input1"  id = "SubstrateLength"/></span><br><br>
                                            
                       </div>


                    </div>




                </form>
                
                  <!-- <button id = "hide1" onclick = "hideContactInfo()" >Hide</button><br>-->
                 
                  </div>
                  





                </div>
             
    <div id="footer">
	@ Hunsicker DataBase Add New DPF Information
	</div>

    </body>

    
    



</html>




