<!DOCTYPE html>
<html>
	<head>
        <title>Admin Input Company Information</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
       <script src="/javascripts/jquery.cookie.js"></script>
       <script src="/javascripts/jquery.autotab.js"></script>
       <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
       
       
<script type="text/javascript">
$(document).ready(function() {
                  
       

                  //$("#cp01").val($.cookie("EngineVIN"));
 		var b =confirm("Skip the Engine Page?");
		if(b==true){

		location.href = "/chooseExistingDPF?VIN="+ $("#VIN").val() +"&ContactID="+ $("#ContactID").html()+"&CompanyID=" +$("#CompanyID").html();
		}
		else{
		 var a =confirm("Load last Engine information?");
                    if(a==true){	
                  $("#cp02").val($.cookie("EngineSerialNumber"));
                  
                  $("#cp03").val($.cookie("EngineMake"));
                  
                  $("#cp04").val($.cookie("EngineModel"));
                  
                  $("#Year").val($.cookie("EngineYear"));
                  
              	  }
		 else{

  		  $("#cp02").val("");
                  
                  $("#cp03").val("");
                  
                  $("#cp04").val("");
                  
                  $("#Year").val("");
}


}


                  
                  

                  
});

function storeValues()
{
    //alert("VIN= "+$("#cp01").val());
    //$.cookie("EngineVIN", $("#cp01").val(), { expires : 2 });
    $.cookie("EngineSerialNumber",$("#cp02").val(),{expires:2});
    $.cookie("EngineMake",$("#cp03").val(),{expires:2});
    $.cookie("EngineModel",$("#cp04").val(),{expires:2});
    $.cookie("EngineYear",$("#Year").val(),{expires:2});


    return true;
}

function submitEngine(event){
    if($("#Year").val()==-1 || $("#Year").val() ==undefined){
        alert("Please select Engine Year.");
        event.preventDefault();
        return;
    }
    storeValues();
}
</script>




        <style>

body{
min-width:1500px;
width:auto;
}

       #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

	#section {
		    width:auto;
		    float:left;
		    padding:10px;	 	 
		}
    #section1 {
		    width:400px;
		    float:left;
            	    position:relative;
		    padding:10px;
text-align:right;
		}




		#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:800px;
		    width:150px;
		    float:left;
		    padding:2px;	      
		}

		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		   padding:5px;	 	 
		}
        #submit1{
            position: relative;
            width:80px;
            height:80px;
            left: 100px;
            top:300px
        }
        .input1 {
            text-align: left;
            width:250px;
            height:30px;
        }

</style>

    </head>
    <body>

                <div id = "header">
                <h1><%=title%></h1>
                </div>


                <div  id="nav">

             <button class="btn btn-primary" onclick="{location.href='/inputSelection'}">Back To Home</button><br>
             
            <button class="btn btn-primary" onclick="{location.href='/signout'}">signout</button><br>
            <button class="btn btn-primary" onclick="{location.href='/chooseExistingEngineBasedOnVehicle?VIN=<%= VIN%>&ContactID=<%= ContactID%>&CompanyID=<%= CompanyID%>'}">BackToEngine</button>
<button class="btn btn-primary" onclick="{location.href='/chooseExistingVehicle/<%= VIN%>?ContactID=<%= ContactID%>&CompanyID=<%= CompanyID%>'}">BackToVehicle</button>
                </div>
<span style="color:Blue">Please input your Vehicle Information.</span><br><br>
		
                <div id="section">
                <div id = "section1">
                  <p>WELCOME <span style="color:blue;font-weight:bold"> Bob</span></p>
                 <p>
                   <% if(typeof(errorMessage) !== 'undefined') {%>
                    <span style="color:red"><%= errorMessage %></span>
                    <% } %>

                    </p>
                     <p>
                    <% if(typeof(CompanyID) !== 'undefined') {%>
                    <span style="color:green ;"hidden id ="CompanyID"><%= CompanyID %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(ContactID) !== 'undefined') {%>
                    <span style="color:green ;"hidden id = "ContactID"><%= ContactID %></span>
                    <% } %>
                    </p>
                <input type ="text" class ="input1" disabled id = "VIN" hidden value="<%= VIN%>"/><br>
                <form method="POST" id = "EngineInput" onsubmit="" action="/addNewEngineAdmin/<%= VIN %>?CompanyID=<%= CompanyID %>&ContactID=<%= ContactID%>">
                    
                    
    
                     
                            
                <!--<p><input class="input2" type = "text"  id ="cp01"name = "EngineVIN" placeholder ="EngineVIN" required = "true"maxlength=17 pattern="[A-Za-z0-9]{17}" title="17 Character VIN"/><span style= "color:red" id ="error_cp01"/></p>-->
                <p><label class="label1" for="">Engine Serial Number*:</label>&nbsp;<input class="input1" type = "text" id ="cp02" name = "EngineSerialNumber" placeholder ="Serial Number" /><span style="color:red" id ="error_cp02"/></p>
                <p>   <label class="label1" for="">Engine Make:</label>&nbsp;     <input class="input1" type = "text" id ="cp03" name = "EngineMake" placeholder = "EngineMake"value =""/></p>
                <p>     <label class="label1" for="">Engine Model:</label>&nbsp;   <input class="input1" type = "text" id ="cp04" name = "EngineModel" placeholder = "EngineModel"value =""/></p>
                
<input type="image" src ="../public/images/addGreenCircle.jpeg" alt="submit" id = "submit1"  class = "submit" onclick="submitEngine(event)"/>
                <label class="label1" for="">Year*:</label>&nbsp;<select  class="input1" name = "EngineYear" id="Year">
                    <option  value="-1">Year...</option><option  value="N/A">N/A</option>
                    <option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option></option><option value="2017">2017</option></option><option value="2018">2018</option></option><option value="2019">2019</option></option><option value="2020">2020</option>
                    </select>
                               
                    
                    </div>
     
                        
                        </form>
            </div>


<!--
                <form method="post" name="form1" action="/userPage">
                <input type="text" name="code">
 
                <input type="submit" value="openGmail" >
            
                </form>
-->



                              


    <div id="footer">
	@ Hunsicker DataBase Add Vehicle Admin
	</div>

    </body>

    
    



</html>
