<!DOCTYPE html>
<html>
	<head>
        <title>Existing DPF</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="/javascripts/chosen/chosen.jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/javascripts/chosen/chosen.min.css">

        <script type="text/javascript">
        
        $(document).ready(function() {
                          
                          $(".chosen-select").chosen();
                          $("#TableAll").toggle();
                          $("#nav").height($("#section").outerHeight());
                          a=$("#selectedDPFID").html();
                          
                          
                          if(a!=-1){
                          $('#DPFID option:contains('+ a +')').prop({selected: true});
                          
                          $("#DPFID").change();
                          }
                          });
              
        function DPFIDonChange(){
             var DPFNumber = $("#DPFID").val();
             console.log(DPFNumber);
           
           
             var PartNumber="#"+ (20*DPFNumber+1).toString();
             var SerialNumber="#"+ (20*DPFNumber+2).toString();
             var OtherNumber="#"+ (20*DPFNumber+3).toString();
             var Manufacturer="#"+(20*DPFNumber+4).toString();
             //alert(Manufacturer);
             var OuterDiameter	 = "#"+(20*DPFNumber+5).toString();
             var SubstrateDiameter = "#"+(20*DPFNumber+6).toString();
             var OuterLength = "#"+(20*DPFNumber+7).toString();
             var SubstrateLength = "#"+(20*DPFNumber+8).toString();
             var DPForDOC = "#"+(20*DPFNumber+9).toString();
             var TypeOfSubstrate = "#"+(20*DPFNumber+10).toString();

             
           
             $("#PartNumber").val($(PartNumber).html());
             if(DPFNumber   ==-1){
              $("#SerialNumber").val("");
             }else{
             $("#SerialNumber").val(DPFNumber);
             }
             $("#OtherNumber").val($(OtherNumber).html());
             //alert($(Manufacturer).html());
             $("#Manufacturer").val($(Manufacturer).html());
             //$("#Manufacturer").val($("#104").html());

             $("#OuterDiameter").val($(OuterDiameter).html());
             $("#SubstrateDiameter").val($(SubstrateDiameter).html());
             $("#OuterLength").val($(OuterLength).html());
             $("#SubstrateLength").val($(SubstrateLength).html());
             $("#DPForDOC").val($(DPForDOC).html());
             $("#TypeOfSubstrate").val($(TypeOfSubstrate).html());
             $("#SerialNumber").trigger("chosen:updated");

$("#form_1").attr("action", "/addRemainingJobInfo/?VIN="+ $("#VIN").html() +"&ContactID="+ $("#ContactID").html()+"&CompanyID=" +$("#CompanyID").html()+"&DPFID="+$("#DPFID option:selected").text());

        }
        function SerialNumberOnchange(){
            
            var DPFNumber  =$("#SerialNumber").val();
           
       
            
            var PartNumber="#"+ (20*DPFNumber+1).toString();
            var SerialNumber="#"+ (20*DPFNumber+2).toString();
            var OtherNumber="#"+ (20*DPFNumber+3).toString();
            var Manufacturer="#"+(20*DPFNumber+4).toString();
            var OuterDiameter	 = "#"+(20*DPFNumber+5).toString();
            var SubstrateDiameter = "#"+(20*DPFNumber+6).toString();
            var OuterLength = "#"+(20*DPFNumber+7).toString();
            var SubstrateLength = "#"+(20*DPFNumber+8).toString();
            var DPForDOC = "#"+(20*DPFNumber+9).toString();
            var TypeOfSubstrate = "#"+(20*DPFNumber+10).toString();
            console.log(DPFNumber  );
            if(DPFNumber==-1){
            $("#DPFID").val(-1);
            }else{
            $("#DPFID").val(DPFNumber);
            }
            $("#PartNumber").val($(PartNumber).html());
            $("#SerialNumber").val($(SerialNumber).html());
            $("#OtherNumber").val($(OtherNumber).html());
            $("#Manufacturer").val($(Manufacturer).html());
            $("#OuterDiameter").val($(OuterDiameter).html());
            $("#SubstrateDiameter").val($(SubstrateDiameter).html());
            $("#OuterLength").val($(OuterLength).html());
            $("#SubstrateLength").val($(SubstrateLength).html());
            $("#DPForDOC").val($(DPForDOC).html());
            $("#TypeOfSubstrate").val($(TypeOfSubstrate).html());
             $("#DPFID").trigger("chosen:updated");
            $("#form_1").attr("action", "/addRemainingJobInfo/?VIN="+ $("#VIN").html() +"&ContactID="+ $("#ContactID").html()+"&CompanyID=" +$("#CompanyID").html()+"&DPFID="+$("#DPFID option:selected").text());
        }
        
        var arry2 = ['Hide All','Show All'];
        /*
        function hideContactInfo(){
            var value = arry.shift();
            arry.push(value);
            $("#ContactInfo").toggle();
                        document.getElementById("hide1").innerHTML = value;
            
            
        }
        */
        function editDPF(event){
	     DPFID =$("#DPFID option:selected").val();
            if(DPFID ==-1){
                alert("Please select a DPFID and then click next.");
                
                event.preventDefault();
                return;
            }
            var link1="/editDPFAdmin?VIN="+$("#VIN").html()+"&ContactID="+$("#ContactID").html()+"&CompanyID="+$("#CompanyID").html()+"&DPFID="+$("#DPFID option:selected").text();
            location.href=link1;
        }
        function showAll(){
            var value = arry2.shift();
            arry2.push(value);
            document.getElementById("showall1").innerHTML = value;
            $("#TableAll").toggle();
                $("#nav").height($("#section").outerHeight());

        }

        function submitDPF(event){
            DPFID =$("#DPFID option:selected").val();
            if(DPFID ==-1){
                alert("Please select a DPFID and then click next.");
                
                event.preventDefault();
                return;
            }
            
            //window.location = "/chooseExistingContactBasedOnCompanyID/"+CompanyID;

        }
              </script>

        <title> <%= h1 %></title>
        
        <style>

body{
min-width:2200px;
width:auto;
}

       #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}


	#section {
		    width:auto;
		    float:left;
		    padding:10px;
            
            		height: 1200px;
		}

        #section2{
            width:auto;
            float:left;
            padding:10px;
            text-align: right;
	    
        }

		#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:auto;
            	    min-height: 600px;
            
		    width:150px;
		    float:left;
		    padding:2px;	      
		}

		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		   padding:5px;	 	 
		}

        #showall1
        {
            position: fixed;
            top:20%;
            left:6%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            
        }
        th, td {
            padding: 5px;
        }
        .submit{
            max-width: 150px;
            max-height: 100px;
        }
        .input1 {
            text-align: left;
            width:250px;
            height:30px;
        }
        #section3_4{
            width:auto;
            float:left;
            text-align:right;
            
            position: relative;
            top:50px;
            
            
        }

        #section4{
            width:auto;
            float:left;
            text-align:right;
            padding:10px;
            
        }
        #ADDNewDPF{
            padding:10px;
            margin:10px;
            position:relative;
            left:700px;
            top:500px;
        }
        #EditDPFInfo{
            padding:10px;
            margin:10px;
            position:relative;
            left:350px;
            top:500px;
        }
	.label1{
	text-align:right;
	padding:20px;
	width:200px;		
	
	}

</style>

    </head>
    <body>
        
                <div id = "header">
                <h1><%=title%></h1>
                </div>


                <div  id="nav">
                <button onclick="{location.href='/inputSelection'}">Back To Home</button><br>
                <button onclick="{location.href='/signout'}">signout</button><br>
                <button onclick="{location.href='/chooseExistingEngineBasedOnVehicle?VIN=<%= VIN%>&ContactID=<%= ContactID%>&CompanyID=<%= CompanyID%>'}">Back</button>
             </div>


                <div id="section">
                    
                    <p>
                    <% if(typeof(errorMessage) !== 'undefined') {%>
                    <span style="color:red"><%= errorMessage %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(username) !== 'undefined') {%>
                    <span style="color:green;display:none">Add a Job for ( <%= username %> ).</span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(CompanyID) !== 'undefined') {%>
                    <span style = "color:green">This is the DPF of Company:
                    <span style="color:green " id ="CompanyID"><%= CompanyID %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(ContactID) !== 'undefined') {%>
                    <span style="color:green ;display:none" id = "ContactID"><%= ContactID %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(VIN) !== 'undefined') {%>
                    <span style="color:green ;display:none" id = "VIN"><%= VIN %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(selectedDPFID) !== 'undefined') {%>
                    <span style="color:green ;" id = "selectedDPFID"><%= selectedDPFID %></span>
                    <% }else{%>
                     <span style="color:green ;" id = "selectedDPFID"hidden>-1</span>
                    
                    <% } %>
                    </p>
                    
               
                                  <br><br>
                 
                 <button class="button1" id="ADDNewDPF" onclick="{location.href='/addNewDPFAdmin?VIN=<%= VIN%>&ContactID=<%= ContactID%>&CompanyID=<%= CompanyID%>'}">Add New DPF</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button class="button1" id="EditDPFInfo" onclick="editDPF(event)" >Edit DPF Info</button>
                <form id = "form_1" method="post" name="form1"   >
              
                    <div id = "section2">
                    
                    <p><span id="SerialNumber1" >Select Your DPF Or Show All:    </span>
                    <br>
                       
                        <label class="label1" for="">DPFID*:</label>&nbsp;&nbsp;<Select style="width:250px"class="chosen-select"  name = "DPFID" id="DPFID" onchange="DPFIDonChange()"/>
                       <option value="-1">-- select --</option>
                       <% for(var i = 0; i <DPFCount;i++) {%>
                       <!-- <option value="<%= ContactID%>"><%=ContactID%></option>-->
                       <option id="<%= i*2+1000%>"value="<%=i%>"><%=DPFID[i]%></option>
                       <%}%>
                       
                        </select>
                       
                         </p>
                         
                         <!--
                         <Select name = "SerialNumber" id="SerialNumber" onchange="SerialNumberonChange()"/>
                         
                         <option value="select">-- select --</option>
                         <% for(var i = 0; i <DPFCount;i++) {%>
                          
                         <option value="<%=i%>"><%=SerialNumber[i]%></option>
                         <%}%>
                        
                         </select>
                        -->
                     <label class="label1" for="">Manufacturer:</label>&nbsp;   <input type ="text" disabled  class ="input1"name="Manufacturer"id = "Manufacturer" /><br><br>
                     <label class="label1" for="">Part Number:</label>&nbsp;  <input type ="text" disabled class ="input1"  name="PartNumber"id = "PartNumber"/><br><br>
                     <label class="label1" for="">Serial Number:</label>&nbsp;
                    
                     <Select style="width:250px" class="chosen-select"  name = "SerialNumber" id="SerialNumber" onchange="SerialNumberOnchange()"/>
                     <option value="-1">-- select --</option>
                     <% for(var i = 0; i <DPFCount;i++) {%>
                     <!-- <option value="<%= ContactID%>"><%=ContactID%></option>-->
                     <option id="<%= i*2+10000 %>" value ="<%= i %>"><%=SerialNumber[i]%></option>
                     <%}%>
                     </select>
                     <br>
                     <br>




                     <label class="label1" for="">Other Number:</label>&nbsp;  <input type ="text" disabled class ="input1" name="OtherNumber"id = "OtherNumber"  /><br><br>
                     <label class="label1" for="">DPF or DOC:</label>&nbsp;   <input type ="text" class ="input1" disabled name="DPForDOC"id = "DPForDOC"/><br><br>
                     <label class="label1" for="">Type Of Substrate:</label>&nbsp;   <input type ="text" disabled  class ="input1"name="TypeOfSubstrate"id = "TypeOfSubstrate" /><br><br>
                    
                             <input type="image" src ="../../public/images/next.jpeg" alt="submit" id = "submit1"  class = "submit" onclick="submitDPF(event)">
                          </div>
                    <div id = "section3_4">
                       <u style="position:relative;right:200px"id="u1"> Dimensions</u><br><br>
                        
                        <div id = "section4">
                           <label class="label1" for="">Outer Diameter(inch):</label>&nbsp;  <input class ="input1" type ="text" disabled id = "OuterDiameter" name ="OuterDiameter"><br><br>
                              <label class="label1" for="">Substrate Diameter(inch):</label>&nbsp;   <input class ="input1"  type ="text" disabled id = "SubstrateDiameter"name ="SubstrateDiameter"><br><br>
                              <label class="label1" for="">Outer Length(inch):</label>&nbsp;       <input type ="text" class ="input1" disabled id = "OuterLength"name ="OuterLength"><br><br>
                             <label class="label1" for="">Substrate Length(inch):</label>&nbsp;            <input type ="text" disabled class ="input1"  id = "SubstrateLength"name ="SubstrateLength"><br><br>
                                            
                                            </div>
                        
                    </div>




                </form>
               
                  <!-- <button id = "hide1" onclick = "hideContactInfo()" >Hide</button><br>-->
                  <div id = "table1">
                  <table id = "TableAll" style="width:100%">
                      <tr>
                          <th>DPFID</th>
                          <th>PartNumber</th>
                          <th>SerialNumber</th>
                          <th>OtherNumber</th>
                          <th>Manufacturer</th>
                          <th>OuterDiameter</th>
                          <th>SubstrateDiameter</th>
                          <th>OuterLength</th>
                          <th>SubstrateLength</th>
                          <th>DPForDOC</th>
                          <th>TypeOfSubstrate</th>
                          <th>TimesCleaned</th>
                         
                        </tr>
                      <% for (var i=0;    i<DPFCount  ;  i++) { %>
                      <tr>
                          <% for (var j =0; j<12; j++) { %>
                          <% var id = (20*i+j).toString();%>
                          <td style="width:100px"  id = "<%= id %>"><%= dataForShowingE[i][j]    %></td>
                          <% } %>
                      </tr>
                       <% } %>

       
                  </table>
                  </div>
                  
                  
                  <button id="showall1" style = "background-color : lightblue" onclick ="showAll()" >Show All</button>





                </div>
             
    <div id="footer">
	@ Hunsicker DataBase Choose Existing DPF Information
	</div>

    </body>

    
    



</html>




