<!DOCTYPE html>
<html>
	<head>
        <title>Existing Contact</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/chosen/chosen.jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/javascripts/chosen/chosen.min.css">

        <script type="text/javascript">
       
        $(document).ready(function() {
                          
                         $("#TableAll").toggle();
                          $(".chosen-select").chosen();
                          $("#nav").height($("#section").outerHeight());
                          var a =$("#selectedContactID").html();

			  $("#DPFID").trigger("chosen:updated");
                          if(a!=-1)
                          {
                          $('#ContactID option[value='+ a +']').prop({selected: true});
			 	
                          $("#ContactID").change();
  			 

                          }
			  
		          
                          
                          
                          });
                          
        function ContactNameOnChange(){
                              var ContactNumber = $("#ContactName").val();
                              
                              //console.log(ContactNumber);
                              
                              //var Choice = ContactIDValue.options[ContactIDValue.selectedIndex].value;
                              var ContactID ="#"+(20*ContactNumber).toString();
                              var FirstName="#"+ (20*ContactNumber+1).toString();
                              var LastName="#"+ (20*ContactNumber+2).toString();
                              var Phone="#"+(20*ContactNumber+3).toString();
                              var Email = "#"+(20*ContactNumber+4).toString();
                              var SiteAddress = "#"+(20*ContactNumber+5).toString();
                              var SiteCity ="#"+ (20*ContactNumber+7).toString();
                              var SiteState= "#"+(20*ContactNumber+6).toString();
                              var SiteZip ="#"+(20*ContactNumber+8).toString();
                              var CompanyName = "#"+(20*ContactNumber+11).toString();
                       
                              
                              //$("#ContactID").val(ContactNumber);
			    $("#ContactID").val($(ContactID).html());
                              $("#First").val($(FirstName).html());
                              $("#Last").val($(LastName).html());
                              $("#Phone").val($(Phone).html());
                              $("#EMail").val($(Email).html());
                              //console.log($(CompanyName).html());
                              $("#CompanyName").val($(CompanyName).html());
                              //$("#CompanyName").val('$(CompanyName).html()');

                           
var str = $(SiteAddress).html();
var res = str.replace("&amp;", "&"); 
$("#SiteAddress").val(res);
                              $("#SiteState").val($(SiteState).html());
                              $("#SiteCity").val($(SiteCity).html());
                              $("#SiteZip").val($(SiteZip).html());
                              $("#form_1").attr("action", "/chooseExistingVehicle/" + $("#ContactID option:selected").text()+"?ContactName=" +$("#ContactName option:selected").text()+"&CompanyID="+$("#CompanyID").html()+"&CompanyName="+$("#CompanyName_1").html());
                              console.log($("#form_1").attr("action"));
                              //console.log($("#CompanyID").val());
                           
                          }
        
        function ContactIDOnChange(){
             var ContactID = $("#ContactID").val();
 	     var ContactNumber = $("#ContactID option[value="+ContactID+"]").index()-1;
             $(".chosen-select").trigger("chosen:updated");
             
             var FirstName="#"+ (20*ContactNumber+1).toString();
             var LastName="#"+ (20*ContactNumber+2).toString();
             var Phone="#"+(20*ContactNumber+3).toString();
             var Email = "#"+(20*ContactNumber+4).toString();
             var SiteAddress = "#"+(20*ContactNumber+5).toString();
             var SiteCity ="#"+ (20*ContactNumber+7).toString();
             var SiteState= "#"+(20*ContactNumber+6).toString();
             var SiteZip ="#"+(20*ContactNumber+8).toString();
             var CompanyName = "#"+(20*ContactNumber+11).toString();
             
             $("#ContactName").val(ContactNumber);
	     $("#ContactName").trigger("chosen:updated");
             $("#First").val($(FirstName).html());
             $("#Last").val($(LastName).html());
             $("#Phone").val($(Phone).html());
             $("#EMail").val($(Email).html());
             $("#CompanyName").val($(CompanyName).html());
             
var str = $(SiteAddress).html();
var res = str.replace("&amp;", "&"); 
$("#SiteAddress").val(res);
             $("#SiteState").val($(SiteState).html());
             $("#SiteCity").val($(SiteCity).html());
             $("#SiteZip").val($(SiteZip).html());
             $("#form_1").attr("action", "/chooseExistingVehicle/" + $("#ContactID option:selected").text()+"?ContactName=" +$("#ContactName option:selected").text()+"&CompanyID="+$("#CompanyID").html()+"&CompanyName="+$("#CompanyName_1").html());
             //console.log($("#form_1").attr("action"));


        }
        
       
        var arry2 = ['Hide All','Show All'];
        
        function hideContactInfo(){
document.body.style.width = '1550px';
            var value = arry.shift();
            arry.push(value);
            $("#ContactInfo").toggle();
                        document.getElementById("hide1").innerHTML = value;
            
            
        }
        
        function showAll(){
	    document.body.style.width = '2000px';
            var value = arry2.shift();
            arry2.push(value);
            document.getElementById("showall1").innerHTML = value;
            $("#TableAll").toggle();
                $("#nav").height($("#section").outerHeight());

        }
        function editContact(event){
            ContactID =$("#ContactID").val();
            if(ContactID ==-1){
                alert("Please select a Contact and then click Edit Contact.");
                event.preventDefault();
                return;
            }else{

            link1="/editContactAdmin/"+ $("#ContactID option:selected").text()+ "?CompanyID="+$("#CompanyID").html()+"&CompanyName="+$("#CompanyName_1").html();
            location.href=link1;
            }
        }
        function submitContact(event){
            ContactID =$("#ContactID option:selected").val();
            if(ContactID ==-1){
                alert("Please select a Contact and then click next.");
                event.preventDefault();
                return;
            }
            
            //window.location = "/chooseExistingContactBasedOnCompanyID/"+CompanyID;

        }
      
        
        </script>

        <title> <%= h1 %></title>
        
        <style>
body{
min-width:1550px;
width:auto;
}


       #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}


	#section {
		    width:auto;
		    float:left;
		    padding:10px;
            
            	    height: auto;
		}
        
        #section2{
            width:auto;
            float:left;
            padding:10px;
            text-align: right;
        }
        #section3_4{
            width:auto;
            float:left;
            text-align:right;
            
            position: relative;
            top:50px;
            
            
        }
       
        #section4{
            width:auto;
            float:left;
            text-align:right;
             padding:10px;
            
        }
		#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:auto;
            min-height: 600px;
            
		    width:150px;
		    float:left;
		    padding:2px;	      
		}

		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		   padding:5px;	 	 
		}
        #ContactInfo
        {
            font-family:"Cursive", Cursive, serif;
            font-size: 16px;
        }
        #showall1
        {
            position: fixed;
            top:20%;
            left:6%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            
        }
        th, td {
            padding: 5px;
        }
        .submit{
            max-width: 150px;
            max-height: 100px;
        }
        .input1 {
            text-align: left;
            width:250px;
            height:30px;
        }
        .button1{
            top:500px;
            position: relative;
	    left: 10px;
            
        }
        .button2{
            top:510px;
            position: relative;
            left: 10px;
        }
</style>

    </head>
    <body>
        
                <div id = "header">
                <h1><%=title%></h1>
                </div>


                <div  id="nav">
                <button onclick="{location.href='/inputSelection'}">Back To Home</button>
                <button onclick="{location.href='/signout'}">signout</button><br>
		<button onclick="{location.href='/chooseExistingCompany?selectedCompanyID=<%= CompanyID%>'}">BackToCompany</button>
             </div>


                <div id="section">
                    
                    <p>
                    <% if(typeof(errorMessage) !== 'undefined') {%>
                    <span style="color:red"><%= errorMessage %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(CompanyName) !== 'undefined') {%>
                    <span style="color:green;display:none" id ="CompanyName_1"><%= CompanyName %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(CompanyID) !== 'undefined') {%>
                    <span style="color:green; display:none" id="CompanyID" value=""><%= CompanyID %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(selectedContactID) !== 'undefined') {%>
                    <span style="color:green; display:none" id="selectedContactID" value=""><%= selectedContactID %></span>
                    <% } else{%>
                    
                    <span id="selectedContactID"style="color:red" value ="0" hidden>-1</span>
                    <% } %>
                    </p>
               <br><br><br>
                <button class="button1" id="EditContactInfo" onclick="editContact(event);" >Edit Contact Info</button>&nbsp;&nbsp;&nbsp;&nbsp;<br>
                <button class = "button2" id="Add_New_Contact" onclick="{location.href='/addNewContactAdmin?CompanyID=<%= CompanyID%>&CompanyName=<%= CompanyName%>'}">Add New Contact</button>
                <form id = "form_1" method="post" name="form1"   >
              
                    <div id = "section2">
                    
                    <p><span id="ContactID_Span" >Select Your ContactID Or Show All:</span><br><br>
                    <br>   <label class="label1" for="">Contact Name:</label>&nbsp;<Select style="width:250px"class="chosen-select"  name = "ContactName" id="ContactName" onchange="ContactNameOnChange()"/>
                    
                    <option value="select">-- select --</option>
                    <% for(var i = 0; i <ContactCount;i++) {%>
                   <!-- <option value="<%= ContactID%>"><%=ContactID%></option>-->
                    <option value="<%=i%>"><%=ContactName[i]%></option>
                    <%}%>
                    
                            </select></p>
                               <label class="label1" for="">Contact ID:</label>&nbsp; <Select class="input1"name = "ContactID" id="ContactID" onchange="ContactIDOnChange()"/>
                            <option value="-1">-- select --</option>
                            <% for(var i = 0; i <ContactCount;i++) {%>
                            <!-- <option value="<%= ContactID%>"><%=ContactID%></option>-->
                            <option value="<%=ContactID[i]%>"><%=ContactID[i]%></option>
                            <%}%>
                            </select>
                            <br>
                            <br>
                            <label class="label1" for="">First:</label>&nbsp;   <input class ="input1"  type ="text" disabled id = "First"/><br><br>
                             <label class="label1" for="">Last:</label>&nbsp;  <input type ="text" class ="input1" disabled id = "Last"/><br><br>
                            <label class="label1" for="">Phone:</label>&nbsp;   <input type ="text" disabled class ="input1"  id = "Phone"/><br><br>
                            <label class="label1" for="">Email:</label>&nbsp;   <input type ="text" disabled id = "EMail" class ="input1" /><br><br>
                            <label class="label1" for="">Company Name:</label>&nbsp;   <input type ="text" disabled id = "CompanyName" class ="input1" /><br><br>
                           
                            <input type="image" src ="../../public/images/next.jpeg" alt="submit" id = "submit1"  class = "submit" onclick="submitContact(event)">
                          </div>
                    
                            <div id = "section3_4">
                               <u style="position:relative; right:150px"> Site Information</u><br><br>
                           
                            <div id = "section4">
                                <label class="label1" for="">Site Address:</label>&nbsp;   <input class ="input1" type ="text" disabled id = "SiteAddress"><br><br>
                                  <label class="label1" for="">City:</label>&nbsp;     <input class ="input1"  type ="text" disabled id = "SiteCity"><br><br>
                                    <label class="label1" for="">State:</label>&nbsp;       <input type ="text" class ="input1" disabled id = "SiteState"><br><br>
                                     <label class="label1" for="">Zip:</label>&nbsp;          <input type ="text" disabled class ="input1"  id = "SiteZip"><br><br>
                                            
                            </div>
                            
                        </div>
               
                           
                </form>
<br><br><br>
                
                
                  <!-- <button id = "hide1" onclick = "hideContactInfo()" >Hide</button><br>-->
                  <div id = "table1">
                  <table id = "TableAll" style="width:100%">
                      <tr>
                          <th>ContactID</th>
                          <th>FirstName</th>
                          <th>LastName</th>
                          <th>Phone</th>
                          <th>Email</th>
                          <th style= "width:100px">SiteAddress</th>
                          <th>SiteCity</th>
                          <th>SiteState</th>
                          <th>SiteZip</th>
                          <th>CSID</th>
                          <th>CompanyID</th>
                          <th>CompanyName</th>
                        </tr>
                      <% for (var i=0;    i<ContactCount;  i++) { %>
                      <tr>
                          <% for (var j =0; j<12; j++) { %>
                          <% var id = (20*i+j).toString();%>
                          <td style="width:100px"  id = "<%= id %>"><%= dataForShowingE[i][j] %></td>
                          <% } %>
                      </tr>
                       <% } %>

       
                  </table>
                  </div>
                  
                  
                  <button id="showall1" style = "background-color : lightblue" onclick ="showAll()" >Show All</button>





                </div>
             
    <div id="footer">
	@ Hunsicker DataBase Choose Existing ContactID Information
	</div>

    </body>

    
    



</html>




