<!DOCTYPE html>
<html>
	<head>
        <title>Existing Vehicle</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

        <script src="/javascripts/chosen/chosen.jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="/javascripts/chosen/chosen.min.css">

        <script type="text/javascript">
        
        $(document).ready(function() {
                          $(".chosen-select").chosen();
                         $("#TableAll").toggle();
                          $("#nav").height($("#section").outerHeight());
                          
                          var a =$("#selectedVIN").html();
                          if(a!=-1)
                          {
                          $('#VIN option:contains('+ a +')').prop({selected: true});
                          $("#VIN").change();
                          
                          }
                          });
                          
        function VINonChange(){
                              var VehicleNumber = $("#VIN").val();
                              
                              //console.log(VehicleNumber);
                              

                              //var VehicleID="#"+ (20*VehicleNumber+1).toString();
                              var UnitNumber="#"+ (20*VehicleNumber+2).toString();
                              var Make="#"+(20*VehicleNumber+3).toString();
                              var Model = "#"+(20*VehicleNumber+4).toString();
                              var Year = "#"+(20*VehicleNumber+5).toString();

                              //console.log($(CompanyID).html());
                              
                              $("#VehicleID").val(VehicleNumber);
                              $("#UnitNumber").val($(UnitNumber).html());
                              $("#Make").val($(Make).html());
                              $("#Model").val($(Model).html());
                              $("#Year").val($(Year).html());
 
                              $("#form_1").attr("action", "/chooseExistingEngineBasedOnVehicle/?VIN="+ $("#VIN option:selected").text() +"&ContactID="+ $("#ContactID").html()+"&CompanyID=" +$("#CompanyID").html());
                              
                              
                           
                          }
        
        function VehicleIDonChange(){
             var VehicleNumber = $("#VehicleID").val();
           
           
             var UnitNumber="#"+ (20*VehicleNumber+2).toString();
             var Make="#"+ (20*VehicleNumber+3).toString();
             var Model="#"+(20*VehicleNumber+4).toString();
             var Year = "#"+(20*VehicleNumber+5).toString();

             
             $("#VIN").val(VehicleNumber);
             $("#UnitNumber").val($(UnitNumber).html());
             $("#Make").val($(Make).html());
             $("#Model").val($(Model).html());
             $("#Year").val($(Year).html());

            $("#form_1").attr("action", "/chooseExistingEngineBasedOnVehicle/?VIN="+ $("#VIN option:selected").text() +"&ContactID="+ $("#ContactID").html()+"&CompanyID=" +$("#CompanyID").html());

        }
        
       
        var arry2 = ['Hide All','Show All'];
        /*
        function hideContactInfo(){
            var value = arry.shift();
            arry.push(value);
            $("#ContactInfo").toggle();
                        document.getElementById("hide1").innerHTML = value;
            
            
        }
        */
        function showAll(){
            var value = arry2.shift();
            arry2.push(value);
            document.getElementById("showall1").innerHTML = value;
            $("#TableAll").toggle();
                $("#nav").height($("#section").outerHeight());

        }

        function submitVehicle(){
            VIN =$("#VehicleID option:selected").val();
            if(VIN ==-1){
                alert("Please select a VehicleID and then click next.");
                event.preventDefault();
                return;
            }
            
           
        }
        function editVehicle(){
            VIN =$("#VehicleID option:selected").val();
            if(VIN ==-1){
                alert("Please select a VehicleID and then click next.");
                event.preventDefault();
                return;
            }
            else{
                var link1="/editVehicleAdmin/"+$("#VIN option:selected").text()+"?CompanyID="+$("#CompanyID").html()+"&ContactID="+$("#ContactID").html()+"&ContactName="+$("#ContactName_temp").html();
                location.href=link1;
            }
        }

        
        </script>

        <title> <%= h1 %></title>
        
        <style>



       #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}


	#section {
		    width:1000px;
		    float:left;
		    padding:10px;
            height: 1200px;
            
		}
        #section1{
            width:25%;
            float:left;
            padding:20px;
            text-align: right;
        }
        #section2{
            width:70%;
            float:left;
            padding:10px;
            text-align: right;
        }
	.label1{
	text-align:right;
	padding:20px;
	width:200px;		
	
	}

		#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:auto;
            min-height: 600px;
            
		    width:150px;
		    float:left;
		    padding:2px;	      
		}

		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		   padding:5px;	 	 
		}

        #showall1
        {
            position: fixed;
            top:20%;
            left:6%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            
        }
        th, td {
            padding: 5px;
        }
        .submit{
            max-width: 150px;
            max-height: 100px;
        }
        .input1 {
            text-align: left;
            width:250px;
            height:30px;
        }
        .button1{
            position:relative;
            top:300px;
            left:5px;
            
        }
</style>

    </head>
    <body>
        
                <div id = "header">
                <h1><%=title%></h1>
                </div>


                <div  id="nav">
                <button onclick="{location.href='/userPage/inputSelection'}">Back To Home</button>
                <button onclick="{location.href='/signout'}">signout</button>
             </div>


                <div id="section">
                    
                    <p>
                    <% if(typeof(errorMessage) !== 'undefined') {%>
                    <span style="color:red"><%= errorMessage %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(ContactName) !== 'undefined') {%>
                    <span style="color:green;display:none;" id ="ContactName_temp"><%= ContactName %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(CompanyID) !== 'undefined') {%>
                    <span style="color:green ;display:none" id ="CompanyID"><%= CompanyID %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(ContactID) !== 'undefined') {%>
                    <span style="color:green ;display:none" id = "ContactID"><%= ContactID %></span>
                    <% } %>
                    </p>
                    </p>
                    <p>
                    <% if(typeof(selectedVIN) !== 'undefined') {%>
                    <span style="color:green; display:none" id="selectedVIN" value=""><%= selectedVIN %></span>
                    <% } else{%>
                    
                    <span id="selectedVIN"style="color:red" value ="0" hidden>-1</span>
                    <% } %>
                    </p>
<!--
                <div id = "section1">
                                  <br><br>
                    VIN:<br><br>
                   
                    Vehicle ID:<br><br>
                    Unit Number:<br><br>
                    Make:<br><br>
                    Model:<br><br>
                    Year:<br><br>
                   
                   
                </div>
 -->               
                <form id = "form_1" method="post" name="form1"   >
              
                    <div id = "section2">
                    
                    <p><span id="VIN_span" >Select Your Vehicle Or Show All:    </span>
                    <br> <label class="label1" for="VIN">VIN:</label>&nbsp;<Select  style="width:250px"class="chosen-select"   name = "VIN" id="VIN" onchange="VINonChange()"/>
                    
                    <option value="select">-- select --</option>
                    <% for(var i = 0; i <VehicleCount;i++) {%>
                   <!-- <option value="<%= ContactID%>"><%=ContactID%></option>-->
                    <option value="<%=i%>"><%=VIN[i]%></option>
                    <%}%>
                    
                            </select></p>
				
                              <label class="label1" for="VehicleID">Vehicle ID:</label>&nbsp;<Select  class ="input1" name = "VehicleID" id="VehicleID" onchange="VehicleIDonChange()"/>
                            <option value="-1">-- select --</option>
                            <% for(var i = 0; i <VehicleCount;i++) {%>
                            <!-- <option value="<%= ContactID%>"><%=ContactID%></option>-->
                            <option value="<%=i%>"><%=VehicleID[i]%></option>
                            <%}%>
                            </select>
                            <br>
                            <br>
                            
                            <label class="label1" for="UnitNumber">Unit Number:</label>&nbsp;<input type ="text" class ="input1" disabled id = "UnitNumber" name="UnitNumber"/><br><br>
                             <label class="label1" for="">Make:</label>&nbsp;<input type ="text" disabled class ="input1"  id = "Make"/><br><br>
                            <label class="label1" for="Model">Model:</label>&nbsp; <input type ="text" disabled id = "Model" class ="input1" /><br><br>
                            <label class="label1" for="Year">Year:</label>&nbsp; <input type ="text" disabled  class ="input1"id = "Year" /><br><br>
                                                         <input type="image" src ="../../public/images/next.jpeg" alt="submit" id = "submit1"  class = "submit" onclick="submitVehicle()">
                          </div>
                    
                    
               
                           
                </form>
                

                  <!-- <button id = "hide1" onclick = "hideContactInfo()" >Hide</button><br>-->
                  <div id = "table1">
                  <table id = "TableAll" style="width:100%">
                      <tr>
                          <th>VIN</th>
                          <th>VehicleID</th>
                          <th>UnitNumber</th>
                          <th>Make</th>
                          <th>Model</th>
                          <th>Year</th>

                        </tr>
                      <% for (var i=0;    i<VehicleCount  ;  i++) { %>
                      <tr>
                          <% for (var j =0; j<6; j++) { %>
                          <% var id = (20*i+j).toString();%>
                          <td style="width:100px"  id = "<%= id %>"><%= dataForShowingE[i][j] %></td>
                          <% } %>
                      </tr>
                       <% } %>

       
                  </table>
                  </div>
                  <br>
                  <button class ="button1"id="Add New Vehicle"  onclick="{location.href='/addNewVehicleAdmin/<%= CompanyID%>?ContactID=<%= ContactID%>&ContactName=<%= username%>'}">Add New Vehicle</button>&nbsp;&nbsp;&nbsp;
                  <button class = "button1"id="EditVehicleInfo"  onclick="editVehicle();">Edit Vehicle Info</button>
                  <button id="showall1" style = "background-color : lightblue" onclick ="showAll()" >Show All</button>





                </div>
             
    <div id="footer">
	@ Hunsicker DataBase Choose Existing Vehicle Information
	</div>

    </body>

    
    



</html>




