<!DOCTYPE html>
<html>
	<head>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
        <script src="/javascripts/jquery.autotab.js"></script>

        <script type="text/javascript">
        
             </script>

        <title> <%= h1 %></title>
        
        <style>


body{
min-width:1500px;
width:auto;
}

       #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

	#section {
		    width:auto	;
		    float:left;
		    padding:10px;	 	 
		}

		#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:800px;
		    width:150px;
		    float:left;
		    padding:2px;	      
		}

		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		   padding:5px;	 	 
		}
        #ContactInfo
        {
            font-family:"Cursive", Cursive, serif;
            font-size: 16px;
        }
        
</style>

    </head>
    <body>

                <div id = "header">
                <h1><%=title%></h1>
                </div>


                <div  id="nav">
                <button onclick="{location.href='/userPage/<%=usernameE%>'}">Back</button>
                <button onclick="{location.href='/signout'}">signout</button>
             </div>


                <div id="section">
                              <% if(typeof(again) !== 'undefined') {%>
                <font size="2" color="red"><%=  again %></font>
                <% } %>
                
                <% if(typeof(errorMessage) !== 'undefined') {%>
                <font size="2" color="red"><%=  errorMessage %></font>
                <% } %>



                </div>
             
    <div id="footer">
	@ Hunsicker DataBase errorMessage
	</div>

    </body>

    
    



</html>




