<!DOCTYPE html>
<html>
	<head>
        <link rel="stylesheet" href="../public/stylesheets/jquery.countdown.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!--<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>-->
                <script src ="../public/javascripts/jquery.plugin.js"></script>
        <script src ="../public/javascripts/jquery.countdown.js"></script>

        
    <script type="text/javascript">
        $(document).ready(function() {
                          $("#input_new_password").toggle();
                          $("#input_new_Successful_Message").toggle();
                          $("#input_new_Successful_Message1").toggle();
                           $("#defaultCountdown").toggle();
                          });
                          
        function onchange1(){
                    var y = $("#password_new1").val();
                    var z = $("#password_new2").val();
                    if(y!=z)
                    {
                       $("#passwordInconsistent").html('Passwords should be the same!');
                    }
        }

function submitOld(){
    var y = $("#password_old").val();
    var patt  =/^[a-zA-Z0-9]+$/i
    if (!y.match(patt))
    {
        alert("The Password should contains only letters and digits");
        return;
    }
    var dataToPost = {};
     dataToPost.password=($("#password_old").val());
     console.log("password = "+dataToPost.password);
     var a = window.location.href;
     
     console.log("a = "+a);
     b=a.substring(37);
     url1 ='/submitOldPassword?key='+b;
    
     $.ajax({
            url: url1,
            dataType: "json",
            data: (dataToPost),
            type: 'POST',
            callback: '',
            success: function(data1){
            if(data1=='found')
            {
            $("#confirm_old_password").toggle();
            $("#input_new_password").toggle();
            }
            else if(data1=='not found'){
            alert('password is not correct');
            }
            else if(data1='invalid username')
            {
            $('#lblResponse').html('Error: invalid username.');
            }
            else{
            alert(data1);

            }
            },
            error: function (xhr, status, error) {
            console.log('Error: ' + error.message);
            $('#lblResponse').html('Error connecting to the server.');
            }
            });
            
}
    



function submitNew(){
    var y = $("#password_new1").val();
    var z = $("#password_new2").val();
    var patt  =/^[a-zA-Z0-9]+$/i
    if (y==null ||y=='' )
    {
        alert("Input your new password!");
        $("#password_new1").focus();
        return;
    }
    if (z==null ||z=='' )
    {
        alert("confirm your new password!");
        $("#password_new2").focus();
        return;
    }
    if (!y.match(patt) || !z.match(patt))
    {
        alert("The Password should contains only letters and digits");
        return;
    }
    if(y!=z){
        console.log(y);
        console.log(z);
                       alert("The Passwords should be the same!");
                       return;
    }
                       var dataToPost = {};
                       dataToPost.password=($("#password_new1").val());
                       console.log("password = "+dataToPost.password);
                       var a = window.location.href;
                       //console.log("a = "+a);
                       b=a.substring(37);
                       url1 ='/submitNewPassword?key='+b;
                       
                       $.ajax({
                              url: url1,
                              dataType: "json",
                              data: (dataToPost),
                              type: 'POST',
                              callback: '',
                              success: function(data1){
                              if(data1=='S')
                              {
                              var y = $("#password_new1").val('');
                              var z = $("#password_new2").val('');
                              $("#input_new_password").toggle();
                              
                              $('#defaultCountdown').countdown({until: 3,format: 'S'});
                              $("#input_new_Successful_Message").toggle();
                              $("#defaultCountdown").toggle();
                              $("#input_new_Successful_Message1").toggle();
                              
                              setTimeout(function(){ window.location.href = '/userPage/'+b; }, 3000);
                              }
                              else if(data1=='error in Update user password information')
                              {
                              $('#lblResponse').html('Error updating password.');
                              }
                              },
                              error: function (xhr, status, error) {
                              console.log('Error: ' + error.message);
                              $('#lblResponse').html('Error connecting to the server.');
                              }
                              });

}
</script>

        <title> <%= h1 %></title>
        
        <style>
body{
min-width:1500px;
width:auto;
}


       #header {
           background-color:#3366FF;
    color:white;
    text-align:center;
    padding:5px;
}

    #confirm_old_password {
		    width:auto;
		    float:left;
		    padding:10px;
		}
    #input_new_password {
		    width:auto;
		    float:left;
		    padding:10px;
		}
		#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:800px;
		    width:150px;
		    float:left;
		    padding:2px;
		}

		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		   padding:5px;
		}
        #defaultCountdown{
            border:none;
            background-color:transparent;
            position: absolute;
            width:20px;
            right:950px;
            top:70px;
            padding:10px;
            height:20px;
        }
        
</style>

    </head>
    <body>
        
                <div id = "header">
                <h1><%=title%></h1>
                </div>
                
                <div  id="nav">

             <button onclick="{location.href='/userPage/<%=username%>'}">Back</button>
             </div>
                

                <div id="confirm_old_password">
                    <span id = "lblResponse"> </span>
                    <span>Confirm Old Password:</span>
                <% if(typeof(again) !== 'undefined') {%>
                <font size="2" color="red"><%=  again %></font>
                <% } %>
               
                <p><label for="username">Account Name:</label><br><%=username%></p>
                <p><label for="password">Old Password:</label><br> <input type="password" name="password_old" id ="password_old"required="true"> </p>
                <button type="button"  onclick = "submitOld()" id = "confirm">Confirm</button>
                   <p>
                   <% if(typeof(errorMessage) !== 'undefined') {%>
                    <span><%= errorMessage %></span>
                    <% } %>
                    </p>
               
                </div>
                <div id="input_new_password">
                    <span style="color:#3366FF;font-size:18pt">Set A New Password</span>
                    <% if(typeof(again) !== 'undefined') {%>
                    <font size="2" color="red"><%=  again %></font>
                    <% } %>
                 
                        <p><label >New Password:</label><br><input type="password" name="password_new1" id = "password_new1"required="true"></p>
                        <p><label >Confirm Password:</label><br> <input type="password" name="password_new2" id = "password_new2"required="true" onchange="onchange1()"><span id="passwordInconsistent"></span> </p>
                           <button type="button"  onclick = "submitNew()" id = "change">change</button>
                                <p>
                                <% if(typeof(errorMessage) !== 'undefined') {%>
                                <span><%= errorMessage %></span>
                                <% } %>
                                </p>
                                

                </div>
                
                <div id ="prompt" >
                    <span id = "input_new_Successful_Message" style="color:blue; font-size:18pt">The website will redirect in  </span>
                    <div id="defaultCountdown" ></div>
                    <span id ="input_new_Successful_Message1" ><br><br>If not jump automatically, click <a href = '/userPage/<%=username%>'>Here</a></span>
                </div>
               
                 <div id="footer">
	@ Hunsicker DataBase Password Change
	</div>

    </body>

    
    



</html>




