<!DOCTYPE html>
<html>
	<head>
        <title>Existing Contact</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
       
        <script type="text/javascript">
        
        $(document).ready(function() {
                       /*   $('.Company').hover(
                                            function(){
                                            var $this = $(this);
                                            $this.data('color', $this.css('color')).css('color', '#3366FF');
                                            },
                                            function(){
                                            var $this = $(this);
                                            $this.css('color', $this.data('color'));
                                            }
                                            );
                        */
                          
                          //
                        
                          //console.log($("#Success1").html());
                          if($("#Success1").html()=='Successfully update the Contact!')
                          {
                          
                          $("#changeCompany").toggle();
                          
                          if($("#tag1").html()!=undefined)
                          {

                          document.getElementById($("#tag1").html()).click();
                          }
                          
                          }
                          else if($("#Success1").html()=='Successfully update the Company!'){
                          $("#changeContact").toggle();
                          
                          if($("#tag2").html()!=undefined)
                          {
                          console.log("2222");
                          document.getElementById($("#tag2").html()).click();
                          }

                          }
                          else{
                            $("#changeCompany").hide();
                            $("#changeContact").hide();
                          }
                          
                          $(".Company").hover(
                                            function() {
                                            $(this).css('color', '#3366FF')
                                            }, function() {
                                            $(this).css('color', '')
                                            });
                          $('.Contact').hover(
                                              function(){
                                              var $this = $(this);
                                              $this.data('color', $this.css('color')).css('color', '#3366FF');
                                              },
                                              function(){
                                              var $this = $(this);
                                              $this.css('color', $this.data('color'));
                                              }
                                              );
                         });

var count=0;
        function change(j,i,value,ContactID){
            //var a = 'i = '+i + 'j = '+j + 'value = '+value;
            $("#changeCompany").hide();
            $("#changeContact").show();
            var a = i;
            var b= j;
            var c=ContactID;
            var d= value;
            var a = ['ContactID','FirstName','LastName','PhoneNumber','EmailAddress','SiteAddress','SiteCity','SiteState','SizeZip','CompangID','ContactStatusID'];
            $("#ContactID").html(c);
            $("#value_Contact1").html(d);
            $("#FieldName").html(a[j]);
            $("#FieldName").val(a[j]);
            $("#ContactID").val(ContactID);
            $("#tag1_Table").val(100000+20*i+j);
            
            if(count==0)
            {
                count=1;
                $("#changeContact").show();
            }

            
            
            //alert(a);
        }
        var count2=0;
        var lastIJ=0;
        function change2(j,i,value,CompanyID){
            $("#changeCompany").show();
            var a = ['CompanyID','CompanyName','BillingAddress','BillingCity','BillingState','BillingZip','BillingContactFirstName','BillingContactLastName','BillingContactEmail','BillingContactPhone','CompanyStatusID'];
             $("#changeContact").hide();
            //var a = 'i = '+i + 'j = '+j + 'value = '+value;
            $("#CompanyID").html(CompanyID);
            $("#value_Company1").html(value);
            $("#FieldName1").html(a[j]);
            $("#FieldName1").val(a[j]);
            $("#tag2_Table").val(20*i+j);
            $("#CompanyID").val(CompanyID);
            
            if(count2==0)
            {
                count2=1;
                $("#changeCompany").show();
            }

        
            //alert(a);
        }
        function clickWhite()
        {
        //    $("#changeContact").hide();
         //   $("#changeCompany").hide();
         return;
        }
        
        </script>

        <title> Choose the Contact Info You want to update</title>
        
        <style>



       #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}

	#section {
		    width:800px;
		    float:left;
		    padding:10px;	 	 
		}

		#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:800px;
		    width:150px;
		    float:left;
		    padding:2px;	      
		}

		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		   padding:5px;	 	 
		}
        .change{
            background-color:#B57533;
            font-size:200%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 5px;
        }
        .submit{
            max-width: 150px;
            max-height: 100px;
        }
        .Company_hover { color: #3366FF; }
         .Contact_hover { color: #3366FF; }
</style>

    </head>
    <body>

                <div id = "header">
                <h1>Select the Contact Info You want to Change</h1>
                </div>
                

                <div  id="nav">
                <button onclick="{location.href='http://localhost:9000/userPage/<%=username%>'}">Back</button>
                <button onclick="{location.href='http://localhost:9000/signout'}">signout</button>
             </div>


                <div id="section" onclick = "return clickWhite()">
                    
                    <p>
                    <% if(typeof(SuccessE) != 'undefined') {%>
                    <% if(SuccessE !='')%>
                    <span style="color:red" id ="Success1" value ="<%= SuccessE %>" ><%= SuccessE %></span>
                    <% } %>
                    </p>
                   
                   
                   
                   
                   
                    <p>
                    <% if(typeof(errorMessage) !== 'undefined') {%>
                    <span style="color:red"><%= errorMessage %></span>
                    <% } %>
                    <% if(typeof(tag1) !== 'undefined') {%>
                    <span hidden style="color:red" id ="tag1"><%= tag1%></span>
                    <% } %>
                    <% if(typeof(tag2) !== 'undefined') {%>
                    <span hidden style="color:red" id ="tag2"><%= tag2 %></span>
                    <% } %>
                    </p>
               
               <div id = "changeContact" class="change">
                   <form action="/updateContactInformation/<%=username%>?key=Contact" method="post">
                       <input type ="text" hidden name="tag1" id ="tag1_Table"><br>
                       ContactID:  &nbsp; <input type="text" id= "ContactID" name="ContactID" readonly="readonly" style="width:300px;height:35px;font-size:100%" ><br>
                           Field Name: <input type ="text"  id = "FieldName" name = "FieldName"  readonly="readonly" style="width:300px;height:35px;font-size:100%" ><br>
                               Original Value: <span id = "value_Contact1" ></span><br>
                               Change To:   &nbsp; <input type = "text" id = "value_Contact2" name = "new"style="width:300px;height:35px;font-size:100%"  ><br>
                                   <input type="image"  src ="../public/images/confirm-button-hi.png"alt="submit" id ="submit1" class="submit">
                                       </form>
               </div>
               <div id = "changeCompany" class = "change">
                   <form action="/updateContactInformation/<%=username%>?key=Company" method="post">
                       <input type ="hidden" name="tag2" id ="tag2_Table">
                       CompanyID:<input type="text" id= "CompanyID" name="CompanyID" readonly="readonly"style="width:300px;height:35px;font-size:100%" ><br>
                       Field Name: <input type ="text"  id = "FieldName1" readonly="readonly" name = "FieldName1"  style="width:300px;height:35px;font-size:100%" ><br>
                           Original Value:<span id = "value_Company1" style="width:300px;height:35px;font-size:100%" ></span><br>
                           Change To:  &nbsp; <input type = "text"   id = "value_Company2"  name = "new1" style="width:300px;height:35px;font-size:100%"><br>
                               <input type="image" src ="../public/images/confirm-button-hi.png" alt="submit" id = "submit1"  class = "submit">
                                   </form>
               </div>




                  <div id = "ContactTable">
                  <table id = "Contact" style="width:100%">
                      <tr>
                          <th>ContactID</th>
                          <th>FirstName</th>
                          <th>LastName</th>
                          <th>PhoneNumber</th>
                          <th>EmailAddress</th>
                          <th>SiteAddress</th>
                          <th>SiteCity</th>
                          <th>SiteState</th>
                          <th>SiteZip</th>
                          <th>CompanyID</th>
                          <th>ContactStatusID</th>
                        </tr>
                      <% if(numberRowsE) {%>
                      <% for (var i=0;    i<numberRowsE;  i++) { %>
                      <tr>
                          <% for (var j =0; j<numberFieldsE; j++) { %>
                          <% var id = (100000+20*i+j).toString();%>
                          <% if (dataForShowingE[i][j]=='' ) {%>
                          <!--<td  style="width:100px;"  onclick="change(<%- j %>,<%- i %>,'',<%- dataForShowingE[i][0] %> );" class = "Contact" >-->
                          <td  style="width:100px;" id ="<%= id %>" onclick="change(<%- j %>,<%- i %>,'',<%- dataForShowingE[i][0] %> );"  class = "Contact" >
                              <% } %>
                        <% if (j==0 ) {%>
                              <!--<td  style="width:100px;"  onclick="change(<%- j %>,<%- i %>,'',<%- dataForShowingE[i][0] %> );" class = "Contact" >-->
                              <td  style="width:100px;"  class = "Contact1" >
                                  <% } %>
                                  
                          <% if (dataForShowingE[i][j]!=''&& j!=0) {%>
                          <% var a =dataForShowingE[i][j]; %>
                          
                          <td  style="width:100px;" id ="<%= id %>" onclick="change(<%- j %>,<%- i %>,'<%- a %>',<%- dataForShowingE[i][0] %> );" class = "Contact" >
                              <% } %>
                              <%= dataForShowingE[i][j] %>
                          </td>
                          <% } %>
                      </tr>
                       <% } %>
                       <% } %>
                     

                  </table>
                  
                  <br>
                  <br>
                  </div>
                  <div id = "CompanyTable">
                      <table id = "Company">
                      <tr>
                          <th>CompanyID</th>
                          <th>CompanyName</th>
                          <th>BillingAddress</th>
                          <th>BillingCity</th>
                          <th>BillingState</th>
                          <th>BillingZip</th>
                          <th>BillingContactFirstName</th>
                          <th>BillingCOntactLastName</th>
                          <th>BillingContactEmail</th>
                          <th>BillingContactPhone</th>
                          <th>CompanyStatusID</th>
                      </tr>
                      <% if(numberRowsE1) {%>
                      <% for (var i=0;    i<numberRowsE1;  i++) { %>
                      <tr id = "Company<%=dataForShowingE1[i][0]%>">
                          <% for (var j =0; j<numberFieldsE1; j++) { %>
                           <% var id = (20*i+j).toString();%>
                          <% if (dataForShowingE1[i][j]=='') {%>
                          <td  style="width:100px;"  id ="<%= id %>" class = "Company1" onclick="change2(<%- j %>,<%- i %>,'',<%- dataForShowingE1[i][0] %> );" class="Company">
                              <% } %>
                              
                              <% if (j==0) {%>
                              <td  style="width:100px;"  class = "Company1" >
                                  <% } %>

                                <% if (dataForShowingE1[i][j]!=''&& j!=0) {%>
                                <% var a =dataForShowingE1[i][j] %>
                                <td  style="width:100px;" id = "<%= id %>"onclick="change2(<%- j %>,<%- i %>,'<%- a %>',<%- dataForShowingE1[i][0] %> );" class = "Company" >
                                    <% } %>
                              <%= dataForShowingE1[i][j] %>
                          </td>
                          <% } %>
                      </tr>
                      <% } %>
                      <% } %>
                      </table>
                  </div>
                  
                  

                  



                </div><!-- end section-->
             
    <div id="footer">
	@ Hunsicker DataBase Update Contact Information
	</div>

    </body>

    
    



</html>




