<!DOCTYPE html>
<html>
	<head>
        <title>Existing Vehicle</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
       
        <script type="text/javascript">
        
        $(document).ready(function() {
                        
                          $("#nav").height($("#section").outerHeight());
                          
                          var a =$("#VIN").val();
                          if(a!=-1&& a!=undefined)
                          {
                         
                            var VehicleNumber = 0;
            
                              //console.log(VehicleNumber);
                              

                              //var VehicleID="#"+ (20*VehicleNumber+1).toString();
                              var UnitNumber="#"+ (20*VehicleNumber+2).toString();
                              var Make="#"+(20*VehicleNumber+3).toString();
                              var Model = "#"+(20*VehicleNumber+4).toString();
                              var Year = "#"+(20*VehicleNumber+5).toString();
                              var CompanyID = "#" +(6).toString();
                              //console.log($(CompanyID).html());
                              
                             
                              $("#UnitNumber").val($(UnitNumber).html());
                              $("#Make").val($(Make).html());
                              $("#Model").val($(Model).html());
                              $("#Year").val($(Year).html());
                              $("#CompanyID").val($(CompanyID).html());
                              $("#form_1").attr("action", "/editVehicleAdmin/"+ $("#VIN_temp").html() +"?ContactID="+ $("#ContactID").html()+"&CompanyID=" +$("#CompanyID").html()+"&ContactName=")+$("#ContactName").html();
                          
                          }
                          });
                          

        
       
        var arry2 = ['Show All','Hide All'];
        /*
        function hideContactInfo(){
            var value = arry.shift();
            arry.push(value);
            $("#ContactInfo").toggle();
                        document.getElementById("hide1").innerHTML = value;
            
            
        }
        */
        function showAll(){
            var value = arry2.shift();
            arry2.push(value);
            document.getElementById("showall1").innerHTML = value;
            $("#TableAll").toggle();
                $("#nav").height($("#section").outerHeight());

        }

        function submitVehicle(){
            VIN =$("#VIN").val();
            if(VIN ==-1 || VIN ==undefined){
                alert("Please select a VIN and then click next.");
                event.preventDefault();
                return;
            }
            if($("#Year").val()==-1){
                 alert("Please select a Year and then click next.");
                 event.preventDefault();
                 return;
            }
            
           
        }
        function back(){
            var link1= '/chooseExistingVehicle/'+$("#VIN_temp").html()+"?CompanyID="+$("#CompanyID_temp").html()+"&ContactID="+$("#ContactID").html()+"&ContactName="+$("#ContactName_temp").html();
            location.href=link1;
        }


	function VIN_Change(){
if(document.getElementById("VIN").checkValidity()==true){
$("#VIN_Check").css("color",'green');
$("#VIN_Check").html('&#10004;');
$("#VIN").css('border-color','green');

}
else{
$("#VIN_Check").css("color",'red');
$("#VIN_Check").html('&#10008;');
$("#VIN").css('border-color','red');
}
}
        </script>

        <title> <%= h1 %></title>
        
        <style>

body{
min-width:1000px;
width:auto;
}

       #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}


	#section {
		    width:auto;
		    float:left;
		    padding:10px;
            height: 1200px;
            
		}
        #section1{
            width:25%;
            float:left;
            padding:20px;
            text-align: right;
        }
        #section2{
            width:70%;
            float:left;
            padding:10px;
            text-align: right;
        }
	.label1{
	text-align:right;
	padding:20px;
	width:200px;		
	
	}

		#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:auto;
            min-height: 600px;
            
		    width:150px;
		    float:left;
		    padding:2px;	      
		}

		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		   padding:5px;	 	 
		}

        #showall1
        {
            position: fixed;
            top:20%;
            left:6%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            
        }
        th, td {
            padding: 5px;
        }
        .submit{
            max-width: 150px;
            max-height: 100px;
        }
        .input1 {
            text-align: left;
            width:250px;
            height:30px;
        }
        .button1{
            position:relative;
            top:300px;
            left:5px;
            
        }
        .submit:hover{border-bottom:5px solid #07736a; position:relative; top:-2px; background:#0fbbad;}
        .submit:active{border-bottom:3px solid #07736a; position:relative; top:0px;}
</style>

    </head>
    <body>
        
                <div id = "header">
                <h1><%=title%></h1>
                </div>


                <div  id="nav">
                <button onclick="{location.href='/inputSelection'}">Back To Home</button>
                <button onclick="{location.href='/signout'}">signout</button><br>
                <button onclick = "back()">Back</button>
             </div>


                <div id="section">
                    
                    <p>
                    <% if(typeof(errorMessage) !== 'undefined') {%>
                    <span style="color:red"><%= errorMessage %></span>
                    <% } %>
                    </p>
                    <p>
                    
                    <% if(typeof(ContactName) !== 'undefined') {%>
                    <span style="color:green;display:none;" id ="ContactName_temp"><%= ContactName %></span>
                    <% } %>
                    </p>
                    <p>
                    This is the Vehicle for Company:
                    <% if(typeof(CompanyID) !== 'undefined') {%>
                    <span style="color:green ;" id ="CompanyID_temp"><%= CompanyID %></span>
                    <% } %>
                    </p>
                    <p>
                    
                    <% if(typeof(ContactID) !== 'undefined') {%>
                    <span style="color:green ;display:none" id = "ContactID"><%= ContactID %></span>
                    <% } %>
                    </p>
                    <p>
                    
                    <% if(typeof(VIN) !== 'undefined') {%>
                    <span style="color:green ;display:none" id = "VIN_temp"><%= VIN %></span>
                    <% } %>
                    </p>
                    
                    
<!--
                <div id = "section1">
                                  <br><br>
                    VIN:<br><br>
                   
                    Vehicle ID:<br><br>
                    Unit Number:<br><br>
                    Make:<br><br>
                    Model:<br><br>
                    Year:<br><br>
                   
                   
                </div>
 -->               
                <form id = "form_1" method="post" name="form1"   >
              
                    <div id = "section2">
                    
                    <p><span id="VIN_span" >Edit Vehicle:  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  </span><br><br>
                    <br> <label class="label1" for="VIN">VIN:</label>&nbsp;<input  type="text" class ="input1"  name = "VIN" id="VIN"  value="<%= VIN%>"  pattern="[A-Za-z0-9]{17}" maxlength = 17 required = "true" onchange="VIN_Change()"></input><span id="VIN_Check"></span>
                    
                  

                   </p>
				
                              <!--<label class="label1" for="VehicleID">Vehicle ID:</label>&nbsp;<input hidden type="text" class ="input1" name = "VehicleID" id="VehicleID" onchange=""/>-->
                            
                            
                            
                            <label class="label1" for="UnitNumber">Unit Number:</label>&nbsp;<input type ="text" class ="input1"  id = "UnitNumber" name="UnitNumber"/><br><br>
                             <label class="label1" for="">Make:</label>&nbsp;<input type ="text"  class ="input1" name="Make" id = "Make"/><br><br>
                            <label class="label1" for="Model">Model:</label>&nbsp; <input type ="text"  id = "Model" class ="input1" name="Model"/><br><br>
                            <label class="label1" for="Year">Year:</label>&nbsp;&nbsp; <select  class="input1" name = "Year" id="Year">
                                <option  value="-1">Year...</option>
                                <option value="2000">2000</option><option value="2001">2001</option><option value="2002">2002</option><option value="2003">2003</option><option value="2004">2004</option><option value="2005">2005</option><option value="2006">2006</option><option value="2007">2007</option><option value="2008">2008</option><option value="2009">2009</option><option value="2010">2010</option><option value="2011">2011</option><option value="2012">2012</option><option value="2013">2013</option><option value="2014">2014</option><option value="2015">2015</option><option value="2016">2016</option></option><option value="2017">2017</option></option><option value="2018">2018</option></option><option value="2019">2019</option></option><option value="2020">2020</option>
                            </select><br><br>
                            <label class="label1" >Company ID: </label><input type ="text" class = "input1" id = "CompanyID" name= "CompanyID"/>
                            <br><br><br>
                        <input type="image" src ="../../public/images/edit.jpeg" alt="submit" id = "submit1"  class = "submit" onclick="submitVehicle()">
                          </div>
                    
                    
               
                           
                </form>
                

                  <!-- <button id = "hide1" onclick = "hideContactInfo()" >Hide</button><br>-->
                  <div id = "table1">
                  <table id = "TableAll" style="width:100%">
                      <tr>
                          <th>VIN</th>
                          <th>VehicleID</th>
                          <th>UnitNumber</th>
                          <th>Make</th>
                          <th>Model</th>
                          <th>Year</th>
                            <th>CompanyID</th>
                        </tr>
                     
                          <% for (var j =0; j<7; j++) { %>
                          <% var id = j.toString();%>
                          <td style="width:100px"  id = "<%= id %>"><%= dataForShowingE[j] %></td>
                          <% } %>
                      </tr>
               

       
                  </table>
                  </div>
                  <br>

                  <button id="showall1" style = "background-color : lightblue" onclick ="showAll()" >Hide All</button>





                </div>
             
    <div id="footer">
	@ Hunsicker DataBase Choose Existing Vehicle Information
	</div>

    </body>

    
    



</html>




