<!DOCTYPE html>
<html>
	<head>
        <title>Existing Contact</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
       <script src="/javascripts/jquery.autotab.js"></script>
        <script type="text/javascript">
        
        $(document).ready(function() {
                          
                       
                          $("#nav").height($("#section").outerHeight());
                          
                          var a =$("#ContactID option:selected").text()
                          if(a!="")
                          {
                          
                          $("#ContactID").change();
                          }
                          $("#CompanyID").val($("#CompanyID_temp").html());
                          $('#PhoneNumber1').autotab({ target: '#PhoneNumber2', format: 'numeric' });
                          $('#PhoneNumber2').autotab({ target: '#PhoneNumber3', format: 'numeric', previous: '#PhoneNumber1' });
                          $('#PhoneNumber3').autotab({ previous: '#PhoneNumber2', format: 'numeric'});
                          
                          });
                          
               
        function ContactIDOnChange(){
            var ContactNumber = 0;
           
             
             var FirstName="#"+ (20*ContactNumber+1).toString();
             var LastName="#"+ (20*ContactNumber+2).toString();
             var Phone="#"+(20*ContactNumber+3).toString();
             var Email = "#"+(20*ContactNumber+4).toString();
             var SiteAddress = "#"+(20*ContactNumber+5).toString();
             var SiteCity ="#"+ (20*ContactNumber+7).toString();
             var SiteState= "#"+(20*ContactNumber+6).toString();
             var SiteZip ="#"+(20*ContactNumber+8).toString();
             var CompanyName = "#"+(20*ContactNumber+11).toString();
             var ContactStatusID="#"+(9).toString();
             $("#ContactName").val(ContactNumber);
             $("#First").val($(FirstName).html());
             $("#Last").val($(LastName).html());
             $("#PhoneNumber1").val($(Phone).html().substring(0,3));
             $("#PhoneNumber2").val($(Phone).html().substring(3,6));
             $("#PhoneNumber3").val($(Phone).html().substring(6,10));

             $("#Email").val($(Email).html());
             $("#CompanyName").val($(CompanyName).html());
             $("#Address").val($(SiteAddress).html());
             $("#State").val($(SiteState).html());
             $("#City").val($(SiteCity).html());
             $("#Zip").val($(SiteZip).html());
            var radios=$('input:radio[name=ContactStatusID]');
             if($(ContactStatusID).html()==0){
                 
                 radios.filter('[value="No"]').prop('checked',true);
             }
             else{
                 radios.filter('[value="Yes"]').prop('checked',true);
             }

             $("#form_1").attr("action", "/editContactAdmin/" + $("#ContactID option:selected").text()+"?CompanyName=" +$("#CompanyName_1").html()+"&CompanyID="+$("#CompanyID_temp").html());
             FirstChange();
             //console.log($("#form_1").attr("action"));


        }
        
        function FirstChange(){
            $("#ContactName").val($("#First").val()+" "+$("#Last").val());
        }
        function LastChange(){
            $("#ContactName").val($("#First").val()+" "+$("#Last").val());
        }

        var arry2 = ['Show All','Hide All'];
        
        function hideContactInfo(){
            var value = arry.shift();
            arry.push(value);
            $("#ContactInfo").toggle();
                        document.getElementById("hide1").innerHTML = value;
            
            
        }
        
        function showAll(){
            var value = arry2.shift();
            arry2.push(value);
            document.getElementById("showall1").innerHTML = value;
            $("#TableAll").toggle();
                $("#nav").height($("#section").outerHeight());

        }
        function EditContactInfo(){
            
        }
        function submitContact(){
            ContactID =$("#ContactID option:selected").val();
            if(ContactID ==-1){
                alert("Please select a Contact and then click next.");
                event.preventDefault();
                return;
            }
            


        }
        function back(){
            var link1='/chooseExistingContactBasedOnCompanyID/'+$("#CompanyID_temp").html()+"/?CompanyName="+$("#CompanyName_1").html()+"&selectedContactID="+$("#ContactID_temp").html();
            location.href=link1;
            
        }
        
        </script>

        <title> <%= h1 %></title>
        
        <style>



       #header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
body{
min-width:1500px;
width:auto;
}

	#section {
		    width:1200px;
		    float:left;
		    padding:10px;
            	    position:relative;
		    left:10%;
            	    height: auto;
		}
        
        #section2{
            width:590px;
            float:left;
            padding:10px;
            text-align: right;
        }
        #section3_4{
            width:580px;
            float:left;
            text-align:right;
            
            position: relative;
            top:50px;
            
            
        }
       
        #section4{
            width:550px;
            float:left;
            text-align:right;
             padding:10px;
            
        }
		#nav {
		    line-height:30px;
		    background-color:#eeeeee;
		    height:auto;
           	    min-height: 600px;
            
		    width:150px;
		    float:left;
		    padding:2px;
		    	      
		}

		#footer {
		    background-color:black;
		    color:white;
		    clear:both;
		    text-align:center;
		   padding:5px;	 	 
		}
        #ContactInfo
        {
            font-family:"Cursive", Cursive, serif;
            font-size: 16px;
        }
        #showall1
        {
            position: fixed;
            top:20%;
            left:6%;
        }
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
            
        }
        th, td {
            padding: 5px;
        }
        .submit{
            max-width: 150px;
            max-height: 100px;
            
        }
        .submit:hover{border-bottom:5px solid #07736a; position:relative; top:-2px; background:#0fbbad;}
        .submit:active{border-bottom:3px solid #07736a; position:relative; top:0px;}

        .input1 {
            text-align: left;
            width:250px;
            height:30px;
        }
        .button1{
            top:180px;
            position: relative;
            
        }
        .button2{
            top:180px;
            position: relative;
            
        }
        .phoneNumber{
            
            height:30px;
        }
  
</style>

    </head>
    <body>
        
                <div id = "header">
                <h1><%=title%></h1>
                </div>


                <div id ="nav">
                <button onclick="{location.href='/userPage/inputSelection'}">Back To Home</button>
                <button onclick="{location.href='/signout'}">signout</button><br>
                <button onclick="back();">Back</button>
            	</div>


                <div id="section">
                    
                    <p>
                    <% if(typeof(errorMessage) !== 'undefined') {%>
                    <span style="color:red"><%= errorMessage %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(CompanyName) !== 'undefined') {%>
                    <span style="color:green;display:none" id ="CompanyName_1"><%= CompanyName %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(ContactID) !== 'undefined') {%>
                    <span style="color:green;display:none" id ="ContactID_temp"><%= ContactID %></span>
                    <% } %>
                    </p>
                    <p>
                    <% if(typeof(CompanyID) !== 'undefined') {%>
                    <span style="color:green; display:none" id="CompanyID_temp" value=""><%= CompanyID %></span>
                    <% } %>
                    </p>
                    <br><br><br>
                
                <form id = "form_1" method="post" name="form1"   >
              
                    <div id = "section2">
                    
                    <p><span id="ContactID_Span" >Edit your Contact Information:</span><br><br>
                    <br>   <label class="label1" for="">Contact Name:</label>&nbsp;<input type="text" class="input1" disabled name = "ContactName" id="ContactName"/>
                    </p>
                               <label class="label1" for="">Contact ID:</label>&nbsp; <Select class="input1" name = "ContactID" id="ContactID" onchange="ContactIDOnChange()"/>
                            
                            <option value="1"><%= ContactID %></option>
                           
                            </select>
                            <br>
                            <br>
                            <label class="label1" for="">First:</label>&nbsp;   <input class ="input1"  type ="text" required="true"  onchange="LastChange();" id = "First" name="First"/><br><br>
                            <label class="label1" for="">Last:</label>&nbsp;  <input type ="text" class ="input1" onchange="FirstChange();" required="true" id = "Last" name="Last"/><br>
                            <p><label class="label1" >Phone:</label>&nbsp; <input style="width:60px" class="PhoneNumber" type = "text" id = "PhoneNumber1"  name = "PhoneNumber1" value ="" placeholder = "000" maxlength=3 required = "true" pattern="\d{3}"  />-
                            <input type = "text" name = "PhoneNumber2" id = "PhoneNumber2" class="PhoneNumber" style="width:60px" value ="" placeholder = "000" maxlength=3 required = "true" pattern="\d{3}"  />-
                            <input type = "text" name = "PhoneNumber3" id = "PhoneNumber3" class="PhoneNumber" value =""  style="width:80px" placeholder = "0000" maxlength=4 required = "true" pattern="\d{4}"  />
                            </p>
                            
                            <p><label class="label1" >Email*:</label>&nbsp; <input type ="email" id="Email" value="" placeholder = "EmailAddress" class="input1" name ="Email"></p>
                                
                            <label class="label1" for="">Company Name:</label>&nbsp;   <input type ="text" disabled id = "CompanyName" class ="input1" /><br><br>
                           
                            <input type="image" src ="../../public/images/edit.jpeg" alt="submit" id = "submit1"  class = "submit" onclick="submitContact()">
                          </div>
                    
                            <div id = "section3_4">
                               <u style="position:relative; right:150px"> Site Information</u><br><br>
                           
                            <div id = "section4">
                                <label class="label1" for="">Site Address:</label>&nbsp;   <input class ="input1"name="Address" type ="text"  id = "Address"><br><br>
                                  <label class="label1" for="">City:</label>&nbsp;     <input class ="input1"  name ="City" type ="text"  id = "City"><br>
                                      <p><label class="label1" >State*:</label>&nbsp;&nbsp;<Select class="input1"name = "State" id="State"></p>
                                          
                                          <option selected value="">State...</option>
                                          <option value="ZZ">None</option>
                                          <option value="">-- UNITED STATES --</option>
                                          <option value="AL">Alabama</option>
                                          <option value="AK">Alaska</option>
                                          <option value="AZ">Arizona</option>
                                          <option value="AR">Arkansas</option>
                                          <option value="CA">California</option>
                                          <option value="CO">Colorado</option>
                                          <option value="CT">Connecticut</option>
                                          <option value="DE">Delaware</option>
                                          <option value="FL">Florida</option>
                                          <option value="GA">Georgia</option>
                                          <option value="HI">Hawaii</option>
                                          <option value="ID">Idaho</option>
                                          <option value="IL">Illinois</option>
                                          <option value="IN">Indiana</option>
                                          <option value="IA">Iowa</option>
                                          <option value="KS">Kansas</option>
                                          <option value="KY">Kentucky</option>
                                          <option value="LA">Louisiana</option>
                                          <option value="ME">Maine</option>
                                          <option value="MD">Maryland</option>
                                          <option value="MA">Massachusetts</option>
                                          <option value="MI">Michigan</option>
                                          <option value="MN">Minnesota</option>
                                          <option value="MS">Mississippi</option>
                                          <option value="MO">Missouri</option>
                                          <option value="MT">Montana</option>
                                          <option value="NE">Nebraska</option>
                                          <option value="NV">Nevada</option>
                                          <option value="NH">New Hampshire</option>
                                          <option value="NJ">New Jersey</option>
                                          <option value="NM">New Mexico</option>
                                          <option value="NY">New York</option>
                                          <option value="NC">North Carolina</option>
                                          <option value="ND">North Dakota</option>
                                          <option value="OH">Ohio</option>
                                          <option value="OK">Oklahoma</option>
                                          <option value="OR">Oregon</option>
                                          <option value="PA">Pennsylvania</option>
                                          <option value="RI">Rhode Island</option>
                                          <option value="SC">South Carolina</option>
                                          <option value="SD">South Dakota</option>
                                          <option value="TN">Tennessee</option>
                                          <option value="TX">Texas</option>
                                          <option value="UT">Utah</option>
                                          <option value="VT">Vermont</option>
                                          <option value="VA">Virginia</option>
                                          <option value="WA">Washington</option>
                                          <option value="WV">West Virginia</option>
                                          <option value="WI">Wisconsin</option>
                                          <option value="WY">Wyoming</option>
                                          <option value="">-- CANADA --</option>
                                          <option value="AB">Alberta</option>
                                          <option value="BC">British Columbia</option>
                                          <option value="MB">Manitoba</option>
                                          <option value="NB">New Brunswick</option>
                                          <option value="NF">Newfoundland and Labrador</option>
                                          <option value="NT">Northwest Territories</option>
                                          <option value="NS">Nova Scotia</option>
                                          <option value="NU">Nunavut</option>
                                          <option value="ON">Ontario</option>
                                          <option value="PE">Prince Edward Island</option>
                                          <option value="PQ">Quebec</option>
                                          <option value="SK">Saskatchewan</option>
                                          <option value="YT">Yukon Territory</option>
                                          <option value="">-- AUSTRALIA --</option>
                                          <option value="AC">Australian Capital Territory</option>
                                          <option value="NW">New South Wales</option>
                                          <option value="NO">Northern Territory</option>
                                          <option value="QL">Queensland</option>
                                          <option value="SA">South Australia</option>
                                          <option value="TS">Tasmania</option>
                                          <option value="VC">Victoria</option>
                                          <option value="WS">Western Australia</option>
                                      </select>
                                      </p>

                                     <p><label class="label1" >Zip:</label>&nbsp;<input type = "text" class="input1"name = "Zip" placeholder = "00000" value =""  id="Zip" maxlength=5  pattern= "\d{5}"></p>
                                     <p><label class="label1" >Company ID:</label>&nbsp;<input type = "text" class="input1"name = "CompanyID" placeholder = "" value =""  id="CompanyID" maxlength=5  pattern= "\d{1,5}"></p>
                                         <p><label class="label1" >Contact Status ID:</label>&nbsp;<input  type = "radio" style="width:50px;"name = "ContactStatusID" value ="Yes" id="ConSI_1" role="radio" checked = "checked"/>
                                         <Span style="text-align:left;">Active</Span>
                                         <input type = "radio" name = "ContactStatusID" style="width:50px;" value ="No" id="ConSI_2" role="radio"/>
                                         
                                         <Span style="text-align:left;">Inactive</Span>
                                         </p>

                            </div>
                            
                        </div>
               
                           
                </form>
<br><br><br>

                  <!-- <button id = "hide1" onclick = "hideContactInfo()" >Hide</button><br>-->
                  <div id = "table1">
                  <table id = "TableAll" style="width:100%">
                      <tr>
                          <th>ContactID</th>
                          <th>FirstName</th>
                          <th>LastName</th>
                          <th>Phone</th>
                          <th>Email</th>
                          <th>SiteAddress</th>
                          <th>SiteCity</th>
                          <th>SiteState</th>
                          <th>SiteZip</th>
                          <th>CSID</th>
                          <th>CompanyID</th>
                          <th>CompanyName</th>
                        </tr>
                      
                      <tr>
                          <% for (var j =0; j<12; j++) { %>
                          <% var id = j.toString();%>
                          <td style="width:100px"  id = "<%= id %>"><%= dataForShowingE[j] %></td>
                          <% } %>
                      </tr>
                      

       
                  </table>
                  </div>
                  
                  
                  <button id="showall1" style = "background-color : lightblue" onclick ="showAll()" >Hide All</button>





                </div>
             
    <div id="footer">
	@ Hunsicker DataBase Edit Existing ContactID Information
	</div>

    </body>

    
    



</html>




